<h5>Short description</h5>
<ul>
    <li>Untranslated:  <tt>[% untranslated_short %]</tt></li>
    [% IF diff_short %]
        <div class='diff'>Diff to previous revision <span class='old'>(Old Version)</span><span class='new'>(New Version)</span>
            <br/>
            <pre>[% diff_short %]</pre>
        </div>
    [% END %]
    <li>Translated ([% lang %]):  <input type="text" name="short" value="[% translated_short %]" size="75" onchange="document.forms[0].submit.disabled=0" /></li>
</ul>
<h5>Long description</h5> (Note: You must preserve the number of paragraphs)
<ul>
    <li>Untranslated: <pre>[% untranslated_long %]</pre></li>
    [% IF diff_long %]
        <div class='diff'>Diff to previous revision <span class='old'>(Old Version)</span><span class='new'>(New Version)</span>
            <br/>
            <pre>[% diff_long %]</pre>
        </div>
    [% END %]
    <li>Translated ([% lang %]): 
        <span class="tooltip" title="Due to bugs in some browsers, non-breaking spaces are displayed as '·' (middot). You should also enter them that way to make sure they get sent to the server. You can generally get it by composing the caret (^) with the space.">Non-breakspace note</span>
        <span class="tooltip" title="Debian policy states that lines without leading spaces may be wrapped by user-agents. So for lists, make sure you include a leading space to avoid splattered text.">Textwrapping note</span>
        <br />
        <textarea name="long"  rows="10" cols="75" onchange="document.forms[0].submit.disabled=0" wrap="hard">[% translated_long%]</textarea>
    </li>
    Comment field: (free form, for discussion about translation. Saved even if you abandon.)
    <br/>
    <textarea name="comment"  rows="4" cols="75">[% comment %]</textarea>
</ul>