[% INCLUDE partials/header.html.tt
    lang = lang
    title = title
%]
<body onload="document.forms[0].submit.disabled=1">
[% INCLUDE partials/title_and_headings.html.tt
    msg = msg
    title = title
    headings = headings
%]
<form method="post" enctype="multipart/form-data" accept-charset="utf-8">
    [% INCLUDE partials/descriptions.html.tt
        untranslated_short = untranslated_short
        untranslated_long = untranslated_long
        translated_short = translated_short
        translated_long = translated_long
        diff_short = diff_short
        diff_long = diff_long
        comment = comment
    %]
    [% IF can_submit == 1 %]
    <input type="submit" name="accept" value="Accept as is"><input type="submit" name="submit" value="Accept with changes"><input type="submit" name="nothing" value="Change comment only">
    <br>
    'Accept as is' means you agree with this translation. 'Accept with changes' means you made changes. In that case the review process will start again.
    [% ELSE %]
    You must log in to update or review translations for [% lang %].
    [% END %]
    <br>
    Note: the owner is: <b>[% owner %]</b>
    [% IF message_origin %]
    <a href="[% message_origin %]/messageto/[% owner %]" onclick="return popup(this.href)">(Write a message)</a>
    [% END %]
    , reviewer are:<br>
    [% FOREACH reviewer IN reviewerlist %]
        <b>[% reviewer %]</b>
        [% IF message_origin %]
        <a href="[% message_origin %]/messageto/[% reviewer %]" onclick="return popup(this.href)">(Write a message)</a>
        [% END %]
    [% END %]
    [% IF reason_cannot_review %]
        [% IF reason_cannot_review == 'has_already_reviewed' %]
        <br>
        <b>Note: You have already reviewed this description.</b>
        [% ELSIF reason_cannot_review == 'is_owner' %]
        <br>
        <b>As owner you cannot review the description, only update it.</b>
        [% END %]
    [% END %]
    [% IF log %]
    <br>
    Log:
    <pre>[% log %]</pre>
    [% END %]
    <input type="hidden" name="_charset_" value=""/>
</form>
[% IF patch %]
<h5>Information about previous translation</h5>
<iframe src="[% patch %]" width="90%", height="400"></iframe>
[% END %]
<hr/>
<h3>Raw form:</h3>
<pre>[% raw_form %]</pre>
</body>
</html>
